
@import './sidebar.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  width:  100%;
  height: 100%;

  --dark-bg-color: #c0c0c0;
  --dark-fg-color: #ffffff;
}

#root {
  width:  100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

a, .clickable {
  cursor: pointer;
}

.no-select {
  user-select: none;
}

.slide--show {
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
  max-height: 100000px;
  overflow: hidden;
}
.slide--hide {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


  *::-webkit-scrollbar {
  width: 1em;
} *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
} *::-webkit-scrollbar-thumb {
  background-color: #ccc;
  outline: 1px solid #aaa;
}

 .text-hl-default {
  color: #121212;
}.text-hl-info {
  color: #31b0d5;
}.text-hl-primary {
  color: #337ab7;
}.text-hl-success {
  color: #5cb85c;
}.text-hl-warning {
  color: #ec971f;
}.text-hl-danger {
  /*color: #ac2925;*/
  color: #cc2925;
}

/*
 * Corrections
 */

/*
 * Table styles
 */

.table > tbody > tr > td {
  transition: padding 0.25s;
}.table.table--small > tbody > tr > td {
  padding: 2px 8px;
}.table.table--medium > tbody > tr > td {
  padding: 4px 8px;
}.table.table--large > tbody > tr > td {
  padding: 8px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  border-top: none;
}

.border-top {
  border-top: 1px solid #ddd;
}

.td-time {
  min-width: 48px;
}

.table-responsive {
  overflow-x: hidden !important;
}

/*
 * Components
 */

.App {
  width:  100%;
  height: 100%;
  max-width:  100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
}.App-sidebar {
  flex: 0 0 200px;
}.App-view {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  width:  100%;
  height: 100%;
  overflow: hidden;
}.App-header {
  flex: 0 0;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #222;
  margin-bottom: 15px;
}.App-filters {
  position: relative;
  flex: 0 0;
  padding: 15px 15px 0;
  user-select: none;
}.App-filters::after {
  content: ' ';
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 10px;
  width: 100%;
  background: linear-gradient(to bottom,
                rgba(0,0,0,0.1) 0%,
                rgba(0,0,0,0) 100%);
}.App-filters-bar {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
}.App-filters-bar > *:first-child {
  margin-left: 10px;
}.App-filters-bar > * {
  margin-right: 10px;
}.App-filters-bar .App-process-list {
  flex: 0 1 200px;
  max-width: 200px;
}.App-filters-bar .App-search-box {
  flex: 1;
}.App-filters-bar .App-level-filters {
  flex: 0 0 320px;
}.App-filters-bar .App-fold-buttons {
  flex: 0 0 80px;
}.App-filters-bar .App-density-control {
  flex: 0;
}.App-content {
  flex: 1 0;
  overflow: hidden;
}.App-file-select {
  width:  100%;
  height: 100%;
}.App-file-select > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
  opacity: 0.4;
}

.ServiceList {
}.ServiceList a .DropDown {
  visibility: hidden;
}.ServiceList a:hover .DropDown,
 .ServiceList a .DropDown.open {
  visibility: visible;
}


.DropZone  {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width:  100%;
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at center,
                              rgba(0,0,0,0) 0%,
                              rgba(0,0,0,0.65) 100%);
  opacity: 0;
  transition: all .5s;
  pointer-events: none;
}.DropZone.is-drag-over {
  opacity: 1;
}.DropZone.is-file-loaded {
}.DropZone-border {
  margin: 15px;
  width:  calc(100% - 30px);
  height: calc(100% - 30px);
  border: 8px dashed #599eff;
  border-radius: 5px;
}.DropZone-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #599eff;
  font-size: 56px;
}.DropZone-input {
  display: none !important;
}


.LogContainer {
  width:  100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px;
}.LogContainer-empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: #ddd;
}

.Log {
}.Log > table {
  display: inline-block;
  /*transition: all .5s;*/
}.Log > table > tbody > tr > td {
  vertical-align: middle;
}.Log.panel-collapsed > table {
  /*height: 0;*/
  /*transform: scaleY(0);*/
}.Log-show-all {
  cursor: pointer;
  text-align: center;
  color: #599eff;
}.Log-show-all:hover {
  text-decoration: underline;
}

.MultiSelect {
}.MultiSelect-button {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}.MultiSelect-button span {
  flex: 1 1;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}.MultiSelect-button i {
  padding: 2px 0 0 2px;
}.MultiSelect-item i {
  width: 2ch;
}.MultiSelect-list > * {
  white-space: nowrap;
}.MultiSelect-list.dropdown-menu {
  padding: 0;
}

.Select {
  display: inline-block;
}.Select-button {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}.Select-list > * {
  white-space: nowrap;
  z-index: 5;
}.Select-list.dropdown-menu {
  padding: 0;
}

.DropDown {
  display: inline-block;
}.DropDown-button {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}.DropDown-list {
  padding: 0;
}.DropDown-list > * {
  white-space: nowrap;
  z-index: 5;
}


.FileSelect {
  display: inline-block;
}.FileSelect a {
  cursor: pointer;
}.FileSelect-input {
  display: none !important;
}

mark.highlight {
  background-color: #ffff4e;
  padding: 0;
}
/*mark.highlight {*/
  /*background-color: transparent;*/
  /*padding: 0;*/
  /*position: relative;*/
/*}*/
/*mark.highlight::after {*/
  /*content: ' ';*/
  /*position: absolute;*/
  /*display: inline-block;*/
  /*top:    -2.5px;*/
  /*left:   -2.5px;*/
  /*width:  calc(100% + 5px);*/
  /*height: calc(100% + 5px);*/
  /*border: 2px solid red;*/
  /*border-radius: 4px;*/
/*}*/
